@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom right, #6a0dad, #6A5ACD);
  position: relative;
}

.logout-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  background: white;
  color: black;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}

.center-content {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;


  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;


  }

  .play-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: white;
    border: none;
    cursor: pointer;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6a0dad;
  }
}

.feedback-box {
  position: absolute;
  left: 20px;
  top: 30%;
  transform: translateY(-50%);
  background: white;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  textarea {
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }

  button {
    width: 100%;
    padding: 8px;
    background: #6a0dad;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}
