<div class="admin-container">
  <div class="sidebar">
    <button class="sidebar-btn" [routerLink]="['/admin']">MANAGE</button>
    <button class="sidebar-btn" [routerLink]="['/music-files']">Music Files</button>
    <button class="sidebar-btn" [routerLink]="['/playlist']">Playlist</button>
    <div class="spacer"></div>
    <button class="sidebar-btn" [routerLink]="['/feedback']">Feedback</button>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>

  <div class="main-content">
    <div class="centered-content">
      <div class="header">
        <h1 class="spotless">SPOTLESS <span>RADIO</span></h1>
      </div>

      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

      <div class="tables-container">
        <!-- Tabel Now Playing -->
        <div class="small-table">
          <div class="table-header">Now Playing</div>
          <div class="table-content">
            <span>{{ getCurrentSong(selectedStreamId) }}</span>
          </div>
        </div>

        <!-- Tabel Stream -->
        <div class="small-table">
          <div class="table-header">Stream</div>
          <div class="table-content">
            <div style="height: 16px; margin-bottom: 16px">
              <span *ngIf="isMixerOpen(selectedStreamId)"
                    (click)="openStreamInNewPage(selectedStreamId)"
                    class="status-chip pointer"
                    style="background-color: darkseagreen">
                open&nbsp;📻
              </span>
              <span *ngIf="!isPlaylistPaused(selectedStreamId)" class="status-chip" style="background-color: mediumpurple">
                playing
              </span>
              <span *ngIf="isMicActive(selectedStreamId)" class="status-chip" style="background-color: tomato">
                on-air
              </span>
            </div>
            <select [(ngModel)]="selectedStreamId" name="streamSelect" (change)="updateSelectedStream()">
              <option value="">Select a stream</option>
              <option *ngFor="let stream of streams" [value]="stream.id">
                {{ stream.name }}
              </option>
            </select>
            <div>
              <button class="action-btn" (click)="openStream()" [disabled]="isMixerOpen(selectedStreamId)">Open</button>
              <button class="action-btn" (click)="closeStream()" [disabled]="!isMixerOpen(selectedStreamId)">Close
              </button>
            </div>
            <div>
              <button class="action-btn" (click)="togglePlaylist()" [disabled]="!isMixerOpen(selectedStreamId)">
                {{ isPlaylistPaused(selectedStreamId) ? '▶' : '⏸' }}
              </button>
              <button class="action-btn" (click)="stopPlaylist()" [disabled]="!isMixerOpen(selectedStreamId) || isPlaylistPaused(selectedStreamId)">
                🛑
              </button>
            </div>
          </div>
        </div>

        <!-- Tabel Update Stream -->
        <div class="small-table full-width-table" *ngIf="selectedStream">
          <div class="table-header">Update Stream</div>
          <div class="table-content">
            <input type="text" [(ngModel)]="selectedStream.name" placeholder="Name"/>
            <input type="text" [(ngModel)]="selectedStream.host" placeholder="Host"/>
            <input type="text" [(ngModel)]="selectedStream.publicHost" placeholder="Public host"/>
            <input type="number" [(ngModel)]="selectedStream.port" placeholder="Port"/>
            <input type="text" [(ngModel)]="selectedStream.username" placeholder="Username"/>
            <input type="password" [(ngModel)]="selectedStream.password" placeholder="Password"/>
            <input type="text" [(ngModel)]="selectedStream.playlistId" placeholder="Playlist ID"/>
            <div>
              <label>Recursive</label>
              <input type="checkbox" [(ngModel)]="selectedStream.isRecursive"/>
            </div>
            <div>
              <label>Enabled</label>
              <input type="checkbox" [(ngModel)]="selectedStream.enabled"/>
            </div>
            <button class="action-btn" (click)="updateStream()">Update Stream</button>
            <button class="action-btn danger" (click)="deleteStream()">Delete Stream</button>
          </div>
        </div>

        <!-- Tabel Create Stream -->
        <div class="small-table full-width-table">
          <div class="table-header">New Stream</div>
          <div class="table-content">
            <input type="text" [(ngModel)]="newStream.name" placeholder="Name"/>
            <input type="text" [(ngModel)]="newStream.host" placeholder="Host"/>
            <input type="text" [(ngModel)]="newStream.publicHost" placeholder="Public host"/>
            <input type="number" [(ngModel)]="newStream.port" placeholder="Port"/>
            <input type="text" [(ngModel)]="newStream.endpoint" placeholder="Endpoint"/>
            <input type="text" [(ngModel)]="newStream.username" placeholder="Username"/>
            <input type="password" [(ngModel)]="newStream.password" placeholder="Password"/>
            <input type="text" [(ngModel)]="newStream.playlistId" placeholder="Playlist ID"/>
            <button class="action-btn" (click)="createStream()">Create Stream</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
