<div class="admin-container">
  <div class="sidebar">
    <button class="sidebar-btn" [routerLink]="['/admin']">MANAGE</button>
    <button class="sidebar-btn" [routerLink]="['/music-files']">Music Files</button>
    <button class="sidebar-btn" [routerLink]="['/playlist']">Playlist</button>
    <div class="spacer"></div>
    <button class="sidebar-btn" [routerLink]="['/feedback']">Feedback</button>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>

  <div class="main-content">
    <div class="centered-content">
      <div class="header">
        <h1 class="spotless">SPOTLESS <span>RADIO</span></h1>
      </div>

      <div class="tables-container">
        <!-- Tabel Now Playing -->
        <div class="small-table">
          <div class="table-header">Now Playing</div>
          <div class="table-content">
            <p>{{ nowPlaying.artist }} - {{ nowPlaying.song }}</p>
          </div>
        </div>

        <!-- Tabel Stream -->
        <div class="small-table">
          <div class="table-header">Stream</div>
          <div class="table-content">
            <p>Local Stream</p>
          </div>
        </div>

        <!-- Tabel Broadcasting Service -->
        <div class="small-table">
          <div class="table-header">Broadcasting Service</div>
          <div class="table-content">
            <p>Ice Cast</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
