.files-header {
  background-color: #6a0dad;
  padding: 10px;
  color: white;
  text-align: center;
}

.files-content {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.files-header h2 {
  font-size: 2rem;
}
